{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AllowedOrigins": "http://localhost:5173,https://your-frontend-url.vercel.app",
  "ConnectionStrings": {
    "Default": "Data Source = Person.db",
    "PostgreSQL": "Host=your-neon-host;Database=your-db;Username=your-user;Password=your-password;SSL Mode=Require"
  },
  "Cloudinary": {
    "CloudName": "your-cloud-name",
    "ApiKey": "your-api-key",
    "ApiSecret": "your-api-secret"
  }
}
